@model IEnumerable<BowlingASP.GameService.game>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row">
    <h2>Parties</h2>
    @Html.ActionLink("Créer une partie", "Create", "Game", new { @class = "btn btn-success" })

        <table class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Joueurs</th>
                    <th>Statut</th>
                    <th>Action</th>
                </tr>
            </thead>
            @foreach (var item in Model) {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Id)</td>
                <td>
                    <ul>
                        @foreach (var p in item.players){
                            <li>
                                    @Html.Raw(p.Pseudo)
                            </li>
                        }
                    </ul>
                </td>
                <td>@Html.DisplayFor(modelItem => item.State)</td>
                <td>
                    @if (item.State != "finished") {
                        if (item.State != "canceled" || item.State != "in progress") { <button type="button" class="btn btn-success">Démarrer</button> }
                        if (item.State == "pending") { <button type="button" class="btn btn-default">Modifier</button> }
                        if (item.State == "pending" || item.State == "in progress") { <button type="button" class="btn btn-warning">Annuler</button> }
                    }
                </td>
            </tr>
            }
        </table>
    </div>
</div>
